@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --public-sans-light: 300;
    --public-sans-regular: 400;
    --public-sans-bold: 700;

    /* ### Primary */

    --Dark-Blue: hsl(233, 26%, 24%);
    --Lime-Green: hsl(136, 65%, 51%);
    --Bright-Cyan: hsl(192, 70%, 51%);

    --gradient: linear-gradient(to right, var(--Lime-Green), var(--Bright-Cyan));

    /* ### Neutral */

    --Grayish-Blue: hsl(233, 8%, 62%);
    --Light-Grayish-Blue: hsl(220, 16%, 96%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --White: hsl(0, 0%, 100%);

    --container: min(90%, 1200px);
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

h1,
h2,
a,
p {
    font-family: 'Public Sans', sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
}

header {
    background-color: white;
    min-height: 57.58;
    /* transition: all 0.2s ease; */
}

/* NAV */
.nav-container {
    margin: 0 auto;
    position: relative;
    background: white;
    z-index: 100;
    width: 100%;
}

nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1em;
    margin: 0 auto;
    z-index: 100;
    background-color: white;
    width: var(--container);
}

.nav-sticky {
    position: fixed;
}

.nav-logo {
    max-width: 150px;
}

.nav-list {
    background-color: white;
    border-radius: .3em;
    filter: drop-shadow(hsla(233, 26%, 24%, 0.747) 0 12rem 10rem);
    z-index: -5;
    list-style: none;
    padding: 2em;
    position: absolute;
    top: calc(100% + 20px);
    right: 0;
    width: 100%;
    text-align: center;
    transform: scale(0);
    transform-origin: top right;
    transition: transform 400ms cubic-bezier(0, 0, 0.36, 1.07);
}

.nav-list-open {
    transform: scale(1);
}

.nav-list li {
    display: flex;
    width: 100%;
}

.nav-list li+li {
    margin-top: 1.5em;
}

.nav-link {
    width: 100%;
    text-decoration: none;
    color: var(--Dark-Blue);
    font-weight: var(--public-sans-regular);
    opacity: 0;
    transition: opacity 250ms ease 250ms,
        color 250ms ease;
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 60px;
    height: 2px;
    background-image: var(--gradient);
    transition: transform 250ms ease-out;
    transform: scaleX(0);
    margin: 0 auto;
}

.nav-link:hover::before,
.nav-link:focus::before {
    transform: scaleX(1);
}

.nav-list-open .nav-link {
    opacity: 1;
}

.nav-request-link {
    display: none;
    visibility: hidden;
    text-decoration: none;
    margin-block: 2em 1em;
    padding: 1em 2em;
    background-image: var(--gradient);
    border-radius: 1.5em;
    color: white;
    font-size: 16px;
}

/* HERO */
.hero-bg {
    background-image: url('./images/bg-intro-mobile.svg');
    background-repeat: no-repeat;
    background-position-y: -50px;
    background-position-x: 100%;
}

.hero-container {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: hidden;
    width: var(--container);
    margin: 0 auto;
}

.hero-container img {
    width: 100%;
    transform: translateY(-28%);
    position: relative;
    margin-inline: auto;
}

.hero-text {
    transform: translateY(-100px);
    width: 95%;
    margin: 0 auto;
}

.hero-text h1 {
    font-weight: var(--public-sans-regular);
    font-size: 38px;
    color: var(--Dark-Blue);
    margin-block: .5em;
}

.hero-text p {
    font-size: 15px;
    font-weight: var(--public-sans-regular);
    color: var(--Grayish-Blue);
    line-height: 1.6;
}

.hero-text a {
    display: inline-block;
    text-decoration: none;
    margin-block: 2em 1em;
    padding: 1em 2em;
    background-image: var(--gradient);
    border-radius: 1.5em;
    color: white;
    font-size: 16px;
}

.nav-request-link,
.hero-text a,
.footer-request-link {
    transition: opacity 250ms ease;
    z-index: 1;
    position: relative;
    overflow-x: hidden;
    min-width: 180px;
    text-align: center;
}

.footer-request-link {
    min-width: 200px;
}

.nav-request-link::before,
.hero-text a::before,
.footer-request-link::before {
    content: '';
    background-color: rgba(255, 255, 255, 0.466);
    z-index: -1;
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    transform: scaleX(0);
    transition: transform 250ms ease-out,
        background-color 250ms ease-out;
}

.hero-text a::before {
    transform-origin: left;
}

.nav-request-link::before,
.footer-request-link::before {
    transform-origin: right;
}

.nav-request-link:hover::before,
.hero-text a:hover::before,
.footer-request-link:hover::before {
    transform: scaleX(1);
}

/* MAIN */
.main-bg {
    background-color: var(--Light-Grayish-Blue);
}

.main-container {
    width: var(--container);
    margin: 0 auto;
    padding-block: 4em 1.5em;
    text-align: center;
}

.main-heading-text {
    margin-bottom: 3em;
}

.main-heading-text h1 {
    font-weight: var(--public-sans-light);
    font-size: 32px;
    color: var(--Dark-Blue);
    margin-bottom: 1em;
}

.main-heading-text p {
    font-size: 15px;
    font-weight: var(--public-sans-light);
    color: var(--Grayish-Blue);
    line-height: 1.6;
}

.main-text {
    margin-block: 2em;
    opacity: 0;
    transform: translateY(-20px);
    transition: transform 300ms ease-out,
    opacity 250ms ease;
}

.main-text img {
    width: 70px;
}

.main-text h2 {
    font-weight: var(--public-sans-regular);
    font-size: 18px;
    color: var(--Dark-Blue);
    margin-block: 1em
}

.main-text p {
    color: var(--Grayish-Blue);
    font-weight: var(--public-sans-light);
    font-size: 15px;
    line-height: 1.6;
}

.main-text-display {
    opacity: 1;
    transform: translateY(0);
}

/* ARTICLE */
.article-container {
    width: var(--container);
    margin: 0 auto;
    padding-block: 3em;
    text-align: center;
}

.article-container h1 {
    color: var(--Dark-Blue);
    font-weight: var(--public-sans-regular);
    margin-block: 1em;
}

.article-link {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 3em;
    transform: translateY(-20px);
    opacity: 0;
    transition: transform 300ms ease-out, 
                opacity 250ms ease;
}

.article-container-display {
    opacity: 1;
    transform: translateY(0);
}

.article-link:hover h2,
.article-link:focus h2 {
    color: var(--Lime-Green);
}

.article-link img {
    border-radius: .3em .3em 0 0;
    height: 200px;
}

.article-text {
    width: 80%;
    margin: 1em auto;
    text-align: left;
}

.article-text p {
    color: var(--Grayish-Blue);
}

.article-text h2 {
    color: var(--Dark-Blue);
    font-size: 16px;
    font-weight: var(--public-sans-regular);
    transition: color 250ms ease;
    margin-block: .8em;
}

.article-text p:first-child {
    font-size: 11px;
}

.article-text p:last-child {
    font-size: 13px;
    line-height: 1.4;
}

/* FOOTER */
.footer-bg {
    background-color: var(--Dark-Blue);
    color: #fff
}

.footer-container {
    padding-block: 1em;
    text-align: center;
}

.footer-logo {
    width: 150px;
    margin-block: 1em
}

.footer-social-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}

.footer-social-list li+li {
    margin-left: .8em;
}

.social-link svg path {
    transition: fill 250ms ease;
}

.social-link:hover svg path {
    fill: var(--Lime-Green);
}

.footer-list {
    list-style: none;
    margin-block: 1.5em;
}

.footer-link {
    color: white;
    text-decoration: none;
    font-weight: var(--public-sans-light);
    font-size: 15px;
    transition: color 250ms ease;
}

.footer-link:hover {
    color: var(--Lime-Green);
}

.footer-list li {
    margin-block: 1em;
}

.footer-request-link {
    display: inline-block;
    padding: .7em 2em;
    background-image: var(--gradient);
    border-radius: 1.5em;
    text-decoration: none;
    color: white;
    margin-block: 1em;
}

.footer-copyright {
    color: var(--Grayish-Blue);
    font-size: 16px;
    margin-block: .7em;
}

@media (min-width: 425px) {
    .hero-bg {
        background-image: url('./images/bg-intro-desktop.svg');
        background-position-x: 20%;
        background-position-y: -500px;
    }
}

@media (min-width: 700px) {
    .hero-container {
        max-height: 140vh;
    }

    .hero-container img {
        transform: translateY(-100px);
    }

    .main-smaller-container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .main-text+.main-text {
        margin-left: 1em;
    }

    .main-text p {
        max-width: 25ch;
        margin-inline: auto;
    }

    .article-smaller-container {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: minmax(300px, 1fr) minmax(300px, 1fr);
        -ms-grid-rows: 1fr 1fr;
        grid-template: 1fr 1fr / minmax(300px, 1fr) minmax(300px, 1fr);
        grid-gap: 20px;
        justify-items: center;
    }

    .article-link {
        max-width: 335px;
        margin-bottom: 0;
    }

    .footer-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 600px;
        margin: 0 auto;
    }

    .footer-list li+li {
        margin-left: 2em;
    }
}

@media (min-width: 1000px) {
    :root {
        --container: min(80%, 1440px);
    }

    header {
        min-height: 80px;
    }

    nav {
        padding-block: 0;
    }

    .nav-toggle {
        display: none;
        visibility: hidden;
    }

    .nav-list {
        position: static;
        transform: scale(1);
        filter: revert;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 500px;
        padding-block: 0;
        height: 80px;
    }

    .nav-list li {
        height: 100%;
        align-items: center;
    }

    .nav-link {
        display: block;
    }

    .nav-list li+li {
        margin-top: 0;
    }

    .nav-link {
        opacity: 1;
        color: var(--Grayish-Blue);
    }

    .nav-link::before {
        top: calc(200% + 4.5px);
        width: 100%;
        height: 4px;
    }

    .nav-link:hover {
        color: var(--Dark-Blue);
    }

    .nav-request-link {
        visibility: visible;
        display: inline-block;
        margin-block: 0;
    }

    main {
        position: relative;
        overflow-x: hidden;
    }

    .hero-bg {
        overflow-x: hidden;
        background-position-x: 620px;
        background-position-y: -230px;
    }

    .hero-container {
        text-align: left;
        flex-direction: row;
        overflow: visible !important;
        max-height: revert;
        align-items: center;
        justify-content: center;
        height: min(80vh, 800px);
        position: static;
    }

    .hero-container img {
        top: min(30%, 20px);
        right: -200px;
        left: 50%;
        width: min(100%, 650px);
        position: absolute;
        z-index: 10;
    }

    .hero-text {
        display: flex;
        align-items: center;
        margin-right: auto;
        flex-direction: column;
        transform: revert;
    }

    .hero-text h1 {
        margin-right: auto;
        max-width: 15ch;
    }

    .hero-text p {
        margin-right: auto;
        max-width: 42ch;
    }

    .hero-text a {
        margin-right: auto;
    }

    .main-heading-text {
        text-align: left;
    }

    .main-heading-text h1,
    .article-container h1 {
        font-size: 38px;
    }

    .main-heading-text p {
        max-width: 60ch;
    }

    .main-smaller-container {
        justify-content: space-between;
    }

    .main-text {
        text-align: left;
        margin-top: 0;
    }

    .article-container {
        padding-block: 2em 4em;
    }

    .article-container h1 {
        text-align: left;
    }

    .article-smaller-container {
        -ms-grid-rows: none;
        -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: none;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .footer-container {
        display: -ms-grid;
        display: grid;
        grid-template: 1fr / min-content min-content auto;
        padding-block: 2em;
        width: var(--container);
        margin: 0 auto;
        justify-items: start;
        grid-gap: 2em;
    }

    .footer-logo {
        margin-bottom: 3em;
    }

    .footer-first-column {
        margin-right: 1em;
    }

    .footer-second-column {
        display: grid;
        max-width: 400px;
        grid-template: 40px 40px 40px / 120px 120px;
        grid-template-areas: 'aboutUs careers'
            'context support'
            'blog privacyPolicy';
        justify-items: start;
        justify-content: center;
        grid-gap: 0 2em;
    }

    .footer-second-column li:nth-child(1) {
        grid-area: aboutUs;
    }

    .footer-second-column li:nth-child(2) {
        grid-area: context;
    }

    .footer-second-column li:nth-child(3) {
        grid-area: blog;
    }

    .footer-second-column li:nth-child(4) {
        grid-area: careers;
    }

    .footer-second-column li:nth-child(5) {
        grid-area: support;
    }

    .footer-second-column li:nth-child(6) {
        grid-area: privacyPolicy;
    }

    .footer-list li {
        text-align: left;
    }

    .footer-list li+li {
        margin-left: 0;
    }

    .footer-third-column {
        text-align: right;
        justify-self: end;
    }
}

@media (min-width: 1800px) {
    body {
        font-size: 21px;
    }

    .nav-link {
        font-size: 18px;
    }

    .hero-text h1,
    .main-heading-text h1,
    .article-container h1 {
        font-size: 45px;
    }

    .hero-text p,
    .main-heading-text p,
    .main-text p,
    .article-text p,
    .footer-container p{
        font-size: 18px;
    }

    .article-text h2 {
        font-size: 19px;
    }

    .article-text p:first-child,
    .article-text p:last-child {
        font-size: 16px;
    }
}